version: 2.1
jobs:
    build:
        docker:
            - image: circleci/php:7.3-node-browsers
            - image: circleci/mysql:5.7-ram
        environment:
            APP_ENV: testing
            DB_CONNECTION: mysql
            DB_HOST: db-test
            DB_PORT: 3306
            DB_DATABASE: database
            MYSQL_ALLOW_EMPTY_PASSWORD: true

        steps:
            - checkout 
            - run: sudo composer self-update --1

            - restore_cache:
                key: composer-v1-{{ checksum "composer.lock" }}
            - run: composer install -n --prefer-dist  
            - save_cache:
                key: composer-v1-{{ checksum "composer.lock" }}
                paths:
                    - vendor

            - restore_cache:
                key: npm-v1-{{ checksum "package-lock.json" }}
            - run: 
                name: npm ci 
                command: |
                    if [ ! -d node_modules ]; then
                        npm ci
                    fi
            - save_cache:
                key: npm-v1-{{ checksum "package-lock.json" }}
                paths:
                    - node_modules

            - run: npm run dev
            - run: php artisan migrate
            